@define-color bg        #10100E;
@define-color fg        #C6C6C4;
@define-color black1    #10100E;
@define-color red1      #C40233;
@define-color green1    #009F6B;
@define-color yellow1   #FFD700;
@define-color blue1     #0087BD;
@define-color magenta1  #9A4EAE;
@define-color cyan1     #20B2AA;
@define-color white1    #C6C6C4;
@define-color black2    #696969;
@define-color red2      #FF2400;
@define-color green2    #03C03C;
@define-color yellow2   #FDFF00;
@define-color blue2     #007FFF;
@define-color magenta2  #FF1493;
@define-color cyan2     #00CCCC;
@define-color white2    #FFFAFA;

* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", "Hack Nerd Font", FontAwesome, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  color: @fg;
  background: @bg;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 5px;
}

window#waybar.empty {
  opacity: 1.0;
}

.modules-left {
  border: none;
  padding: 5px 5px;
}

.modules-right {
  border: none;
  padding: 5px 5px;
}

.modules-center {
  border: none;
  padding: 5px 5px;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: @base;
  border-radius: 90px;
}

#workspaces {
  font-weight: 600;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 90px;
  background: @blue
}

#workspaces button {
  color: @text;
  font-weight: 600;
  margin: 0px;
  padding: 0px 5px;
}

#workspaces button.urgent {
  color: @red1;
}
#workspaces button.empty {
  color: @black2;
}

#workspaces button.active {
  color: @green1;
}

#workspaces button.focused {
  color: @yellow1;
}

#cpu,
#temperature,
#memory,
#language,
#mpris,
#pulseaudio,
#window,
#disk {
  color: @blue;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 50px;
}

#battery{
  color: @crust;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @green
}

#backlight{
  color: @crust;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @yellow
}
#network {
  color: @crust;
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
  background: @teal
}
#tray {
  color: @text;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  border-radius: 90px;
}

#clock {
  color: @blue;
  font-weight: 600;
  margin-right: 5px;
  padding: 6px 15px;
  border-radius: 90px;
}

#custom-sepp {
    color: @black2;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 10px;
}
#custom-sepp1 {
  color: @black2;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 10px;
}
#custom-sepp2 {
  color: @black2;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 10px;
}

#network.disconnected {
  background-color: @red;
}
